:root {
    --color-alert-red: hsl(16deg 60% 45%);
    --color-alert-error-red: hsl(0deg 80% 40%);
}

.update-read-flags-for-narrow-banner .cf-banner__close {
    /* Disable pointer events to prevent user interaction,
       since this button is repurposed as a loading indicator. */
    pointer-events: none;
}
